@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html{
    font-family: 'Quicksand',sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
hr{
    color: brown;
    background: brown;
    height: 5px;
    margin: 50px 0 50px;
}

 .hr{
    margin: 50px 0 50px;

}


header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}



.thongbao{
    height: 40px;
    text-align: center;
    background: #24a19c;
    color: white;
    line-height: 40px;
}

.menu-logo{
    background: rgb(212, 211, 211);
    height: 50px;
    position: relative;
}
.menu-logo .logo{
    position: absolute;
    left: 60px;
}
.menu-logo nav{
    position: absolute;
    right: 15px;
}

.menu-logo nav a{
    text-decoration: none;
    color: black;
    line-height: 60px;
    margin: 0px 40px;
    font-weight: 900;

}

.menu-logo nav a:hover{
    color: #24a19c;
    font-size: 20px;
}

.banner{
    width: 100%;
    margin-top: 50px;

    
}
.banner img{
    max-width: 100%;
    min-width: 100%;
    
}

.product .heading{
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 40px ;
    position: relative;

}
.product .heading::after{
    content: """""";
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: black;
    top: 50px;
    left: 47%;
}

.product .list-product .product-item{
    width: 17%;
    margin: 20px 20px;
    display: inline-block;
    
}
.product .list-product .product-item img{
    max-width: 100%;
    


}
 

/* GOPY */


.gopyy{
    display: flex;
    justify-content: center;
    
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #58257b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
  }
  }


    
    
    

/* FOOTER */

footer{
    border-radius: 10px;
    width: 100%;
    background: cadetblue;
    color: black;
    text-align: center;
    height: 400px;
}
footer .footer-item{
    width: 30%;
    display: inline-block;
    margin-bottom: 20px;
}
footer .footer-item h3{
    margin: 30px 0;
}
footer .link a{
    display: block;
    text-decoration: none;
    color: blanchedalmond;
    margin: 7px 0;
}
footer .about p{
    color: blanchedalmond;
}
footer .contact p{
    color: blanchedalmond;
    margin-bottom: 20px;
}


/* hover */
.product .list-product .product-item a{
    text-decoration: none;
    color: black;

}
.product .list-product .product-item a:hover{
    text-decoration: underline;
    color: red;
    font-size: 17px;
    border-image: 50%;

}